<div> 
<h1>Random beers</h1>
<div></div>

{{!-- {{#each responseFromAPI}} --}}
<h1>{{name}}</h1>
<p> {{description}}</p>
<h2> {{tagline}}</h2>

<img src = {{image_url}}/>
<h2> Food pairing</h2>
<li>{{food_pairing}}</li>
<p>Brewer tips:{{brewers_tips}}</p>
{{!-- {{/each}} --}}
</div>